.main_container{
    position: relative;
    top: 0px;
    margin: 30px 0px 0px 0px;
    width: 100%;
}
.content_flex_container{
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body{
    min-width: 740px;
}

.header_div {
    border: 0.05em solid #2D3033;
    width: 610px;
    height: 100px;
    text-align: center;
    font-family: 'Georgia', 'Literata', 'Gelasio', serif;
    font-size: 52px;
    font-weight: 400;
    position: absolute;
    top: 0px;
    margin: 8px 10px 10px 10px;
    left: 50%;
    transform: translate(-51.5%, 0%);
    padding: 15px 0px 5px 0px;
    color: #2D3033;
}

.lower_letters {
    font-family: 'Georgia','Gelasio', serif;
    font-style:  italic;
    font-size: 12px;
    font-weight: 400;
}

.website_images {
    overflow: clip;
    object-fit: cover;
    margin: 0px 10px 0px 10px;
}

.mt70 {
    margin-top: 70px;
}

.image_div {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column;
}

.footer_div {
    position: absolute;
    top: 2360px;
    left: 50%;
    transform: translateX(-50%);
}

.menu_links a {
    text-decoration: solid;
}

.menu_links a:hover {
    text-decoration: solid;
    color: black;
}

.menu_links a:active {
    color: black;
}

.black_font {
    color: black;
}

.gray_font {
    color: gray;
}

.dark_gray_font {
    color: #6E7173;
}

.social_sites{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%,10);
}

.fs9 {
    font-size: 9px;
}

.p11 {
    padding: 11px;
}

.prl9 {
    padding-right: 9px;
    padding-left: 9px;
}

.copywrite_padding {
    padding-top: 10px;
    padding-left: 12px;
}

.mt5 {
    margin-top: 5px;
}

.mt7 {
    margin-top: 7px;
}

.page2_para_headings {
    font-family: 'Literata', serif;
    font-size: 24px;
    font-style: bold;
    font-weight: 800;
}